
body,html {       
  height:100%;
  width:100%; 
  z-index: 1;
  font-family: "Oxygen", bold;
  margin:0;
  min-height: 100%;
}   
html {
  scroll-behavior: smooth;
}


img.cross {
  max-width: 18%;
  max-height: 28%;
  position: fixed;
  display:flex;
  float:right;
  top:30%;
  right:50%;
  left: 19px;
  z-index: 2;

}

img.facebook {
  z-index: 2;
  position: fixed;
  top:30%;
  right:40px;
  max-width: 3%;
  max-height: 5%;
  display: flex;
  height: auto; 
  float:left;
}

img.instagram {
  z-index: 2;
  position: fixed;
  top:40%;
  right:40px;
  max-width: 3%;
  max-height: 5%;
  display: flex;
  height: auto; 
  float:left;
}

img.twitter {
  z-index: 2;
  position: fixed;
  top:50%;
  right:40px;
  max-width: 3%;
  max-height: 5%;
  display: flex;
  height: auto; 
  float:left;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:rgb(255, 240, 240);
  margin: 6px;
  transition: 0.4s;
  z-index:1;
  max-width: 18%;
  max-height: 28%;
  display: flex;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(#F8C7C7, #2B2A2A);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
  color: #f1f1f1;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
  color: rgb(247, 239, 239);
  display: block;
  transition: 0.3s;
  z-index: 2;
}

.sidenav a:hover {
  color: #f1f1f1;
  z-index: 2;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 2;
  color: whitesmoke;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.rectangle2 {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 180px;
  background: linear-gradient(#F8C7C7, #2B2A2A);
  top:0;
  left: 0;
  float: left;
  max-width: 17%;
  opacity: 0.9;
}

.rectangle1 {
  position: fixed;
  float:left;
  z-index: 3;
  height: 100%;
  width: 120px;
  background: linear-gradient(#F8C7C7, #2B2A2A);
  top:0;
  right:0;
  max-width: 17%;
  opacity:0.9;
}


.container {
  cursor: pointer;
  position: fixed;
  top:30px;
  right:0;
  left:50px;
  margin: 5px;
  z-index:2;
  float:right;
}

.text-footer {
  top:85%;
  left:30px;
  z-index:4;
  position: fixed;
  float: bottom;
  margin: 10px;
  font-family:"Arimo";
  font-weight: bolder;
  line-height: 2;
  letter-spacing: 1px
}


.footer {
  background: rgb(255, 241, 241);
  height: 100px;
  width: 100%;
  z-index:3;
  position: fixed;
  bottom: 0;
  padding: 5px;
  left:0;
}
p {
  text-align:right;
  font-size: 30px;
  position: fixed;
  top:70%;
  left:300px;
  font-size:3vw;
  color: #f1f1f1;
  font-family: "Comfortaa";
  font-weight: bolder;

}
.eng {
  background:rgb(114, 4, 19);
  color: rgb(255, 255, 255); 
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  z-index:3;
  position: fixed;
  top:5%;
  left:92%;
  height: 30px;
  width: 60px;
  max-width: 10%;
  max-height:5%;
  border:none;
}

.button1 { 
  background:transparent;
  color: rgb(255, 255, 255); 
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 100%;
  border: 1px solid rgb(255, 255, 255); 
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  z-index:3;
  position: fixed;
  top:35%;
  left:40%;
  height: 30px;
  width: 140px;
  max-width: 10%;
  max-height:5%;
}
.button2 { 
  background:transparent;
  color: rgb(255, 255, 255); 
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 100%;
  border: 1px solid rgb(255, 255, 255); 
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  z-index:3;
  position: fixed;
  top:35%;
  left:60%;
  height: 30px;
  width: 140px;
  max-width: 10%;
  max-height:5%;
}
a:link {
  color: rgb(201, 86, 105);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(201, 86, 105);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(66, 7, 7);
  background-color: transparent;
}
a:active {
  color: rgb(168, 29, 71);
  background-color: transparent;
}


#map-container {
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index:4;
}

.main {
  width: 80%;
  height:100%;
  background-repeat: no-repeat; 
  max-width: 100%;
  height: auto;
  margin-left:180px;
  margin-top:0;
  position: relative;
}

#section1 {
  background-image: url("bible1.png");
  height: 100%;
}
#section2 {
  height: 400px;
