
body,html {       
  height:auto;
  width:100%; 
  z-index: 1;
  margin:0;
  min-height: 100%;
  padding: 0px;
  overflow-x: hidden;
}   

html {
  scroll-behavior: smooth;
}

#wrapper {
  max-width:1280px;
  margin:0 auto;
}

img.cross {
  max-width: 15%;
  max-height: 25%;
  position: fixed;
  display:flex;
  float:right;
  top:30%;
  right:50%;
  left: 19px;
  z-index: 2;

}

@media screen and (max-width: 1024px) {
  img.cross {
  display: none;
  }
}




img.facebook {
  z-index: 2;
  position: fixed;
  top:40%;
  right:40px;
  max-width: 3%;
  max-height: 5%;
  display: flex;
  height: auto; 
  float:left;
}

img.instagram {
  z-index: 2;
  position: fixed;
  top:50%;
  right:40px;
  max-width: 3%;
  max-height: 5%;
  display: flex;
  height: auto; 
  float:left;
}

img.twitter {
  z-index: 2;
  position: fixed;
  top:50%;
  right:40px;
  max-width: 3%;
  max-height: 5%;
  display: flex;
  height: auto; 
  float:left;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:rgb(255, 240, 240);
  margin: 6px;
  transition: 0.4s;
  z-index:1;
  max-width: 20%;
  max-height: 10%;
  display: flex;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background: linear-gradient(#F8C7C7, #2B2A2A);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 4;
  color: #f1f1f1;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 2em;
  color: rgb(247, 239, 239);
  display: block;
  transition: 0.3s;
  z-index: 4;
}

.sidenav a:hover {
  color: #f1f1f1;
  z-index: 4;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 4;
  color: whitesmoke;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.rectangle2 {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 180px;
  background: linear-gradient(#F8C7C7, #2B2A2A);
  top:0;
  left: 0;
  float: left;
  opacity: 0.9;
  max-width: 13%;
}

@media screen and (max-width: 1024px) {
  .rectangle2 {
    display: none;
  }
}


.rectangle1 {
  position: fixed;
  float:left;
  z-index: 3;
  height: 100%;
  width: 120px;
  background: linear-gradient(#F8C7C7, #2B2A2A);
  top:0;
  right:0;
  opacity:0.9;
}

@media screen and (max-width: 1024px) {
  .rectangle1 {
    display: none;
  }
}



.container {
  cursor: pointer;
  position: fixed;
  top:30px;
  right:0;
  left:50px;
  margin: 5px;
  z-index:2;
  float:right;
}

@media screen and (max-width: 1024px) {
  .container {
    top:10%;
    margin:0;
    left:85%;
  }
  .bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color:rgb(182, 179, 179);
  margin: 5px;
  padding: 0;
  }

}



.text-footer {
  top:85%;
  left:30px;
  z-index:4;
  position: fixed;
  float: bottom;
  margin: 10px;
  font-family:"Arimo";
  font-weight: bolder;
  line-height: 2;
  letter-spacing: 1px
}



h1 {
  text-indent:150px;
  font-family: "Literata";
  font-size: 60px;
  font-size:6vw;
}

#myheader {
  font-family: "Literata";
  font-size: 60px;
  font-size:6vw;
  text-align: center;
  text-indent: 0;
}
h2 {
  z-index: 2;
  font-family: "Comfortaa";
  font-size: 80px;
  color: rgb(255, 242, 242);
  line-height: 280px;
  text-shadow: 1px 1px 4px #534f4f;
  font-size:6vw;
  text-align: center;
}

h3 {
text-align: center;
z-index: 2;
font-family: "Comfortaa";
font-size: 40px;
text-shadow: 1px 1px 4px #534f4f;
font-size:3vw;
color: black;

}
h4 {
  text-align: left;
  font-family: "Literata";
  font-size:3vw;
  color: rgb(43, 40, 40);
  margin:0;
  z-index:4;

}

p {
  font-size:1.3vw;
  font-family:"Georgia";
  z-index:3;
  position: relative;
  font-size:1.3vw;
}

a {
   color:rgb(6, 31, 49);
   text-decoration: none;
   font-size:1.3vw;
}

a:hover {
   color: rgb(235, 250, 255);
}
.eng {
  background:rgb(114, 4, 19);
  color: rgb(255, 255, 255); 
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 0.9vw;
  text-align: center;
  cursor: pointer;
  z-index:4;
  position: relative;
  margin-top: 20px;
  left:85%;
  padding:7px;
  height: auto;
  max-width: 35%;
  max-height:25%;
  border:none;
}


.button1 { 
  background:transparent;
  color: rgb(255, 255, 255); 
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 100%;
  border: 1px solid rgb(255, 255, 255); 
  text-align: center;
  font-size: 0.8vw;
  cursor: pointer;
  position:absolute;
  z-index:3;
  top:45%;
  left:30%;
  height: 30px;
  width: 140px;
  max-width: 10%;
  max-height:5%;
}
.button2 { 
  background:transparent;
  color: rgb(255, 255, 255); 
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 100%;
  border: 1px solid rgb(255, 255, 255); 
  text-align: center;
  font-size: 0.8vw;
  cursor: pointer;
  z-index:3;
  position: absolute;
  top:45%;
  left:45%;
  height: 30px;
  width: 140px;
  max-width: 10%;
  max-height:5%;
}

@media screen and (max-width: 500px) {
  .button1 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .button2 {
    display: none;
  }
}

a:link {
  color: rgb(201, 86, 105);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(201, 86, 105);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(66, 7, 7);
  background-color: transparent;
}
a:active {
  color: rgb(168, 29, 71);
  background-color: transparent;
}


#map-container {
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index:4;
  margin: 0;
  padding: 0;
}


.main {
  height:100%;
  width: 100%;
  background-repeat: no-repeat; 
  max-width: 100%;
  height: auto;
  margin:0;
  left:7%;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .main {
    left:0;
    margin: 0;
  }
}

#section1 {
  background-image: url("bible1.png");
  width: 100%;
  height:auto;
  background-size: 100%;
  min-width: 100%;
  background-position: centre;
}

@media screen and (max-width: 1024px) {
  .section1 {
    background-image: url("bible_ipad.png");
  }
}

@media screen and (max-width: 480px) {
  .section1 {
    background-image: url("bible_iphone.png");
    -webkit-min-device-pixel-ratio: 2;
  }
}

@media screen and (max-width: 1024px) {
  .button1 .button2 {
    display: none;
  }
}


#section2 {
  height: 400px;
}

@media screen and (max-width: 500px) {
  .section2 {
  height:100px;
  }
}




@media screen and (max-width: 500px) {
  .section3 {
  align-content: center;
  }
}


#section4 {
  height: 500px;
  background-image: url("apple.png");
  opacity: 0.6;
  position: relative;
  background-size: 100%;
  min-width: 100%;
}


#section5 {
  height: auto;
  background: rgb(255, 241, 241);
  width: 100%;
  margin-bottom:0;
  padding: 0;
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  padding: 0 10px;
  right:50%;
  left:50%;
  display: inline-block;
}

@media screen and (max-width: 500px) {
  .column {
  padding:10px;
  display:block;
  margin-left:10px;
  margin-right:10px;
  }
}




/* Remove extra left and right margins, due to padding */
.row {
    /* margin: 0 -5px; */
    margin-left: 190px;
    height: auto;
    width:auto;
  }

  @media screen and (max-width: 500px) {
    .row {
    margin-left:0;
    }
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}



/* Create two equal columns that floats next to each other */
.column_f_1 {
  float: left;
  width: 40%;
  padding: 0;
  margin:0;
  text-indent: 20%;
}

.column_f_2 {
  float: left;
  width: 40%;
  padding: 0;
  margin:0;
  text-align: right;
}

.row_f {
  height: auto;
  width:auto;
}
/* Clear floats after the columns */
.row_f:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
  .column_f_1 {
    width: 100%;
    text-align: center;
    text-indent: 0;
  }
  .column_f_2 {
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width: 1024px) {
  .footer {
    left:17%;
  }
}

img.fac, img.inst {
  max-width: 3%;
  max-height: 3%;
  z-index: 2;

}

.donate_button {
  left:40%;
  position: relative;
  
}
@media screen and (max-width: 1024px) {
  .donate_button {
    left:50%;
    right:50%;
  }
}


.text_donation {
  bottom: 20px;
  left:50%;
  color: white;
  width: 60%;
  margin-left:7em;
  z-index: 4;
}

.text_title1 {
  left:10%;
  position:relative;
}
.text_title2 {
  left:10%;
  text-indent:40%;
  font-size: 3vw;
  position:relative;
  font-family: 'Literata';
}

@media screen and (max-width: 500px) {
  .text_title2 {
  text-indent:0;
  }
}

.text_family {
  position: relative;
  margin:0;
  padding-top:130px;
  padding-bottom:0;
  left:30%;
  text-align: right;
}

@media screen and (max-width: 500px) {
  .text_family {
  padding:0;
  }
}