
body,html {       
  height:100%;
  width:100%; 
  z-index: 1;
  font-family: "Oxygen", bold;
  margin:0;
  min-height: 100%;
}   
html {
  scroll-behavior: smooth;
}


img.cross {
  max-width: 18%;
  max-height: 28%;
  position: fixed;
  display:flex;
  float:right;
  top:30%;
  right:50%;
  left: 19px;
  z-index: 2;

}

img.facebook {
  z-index: 2;
  position: fixed;
  top:30%;
  right:40px;
  max-width: 3%;
  max-height: 5%;
  display: flex;
  height: auto; 
  float:left;
}

img.instagram {
  z-index: 2;
  position: fixed;
  top:40%;
  right:40px;
  max-width: 3%;
  max-height: 5%;
  display: flex;
  height: auto; 
  float:left;
}

img.twitter {
  z-index: 2;
  position: fixed;
  top:50%;
  right:40px;
  max-width: 3%;
  max-height: 5%;
  display: flex;
  height: auto; 
  float:left;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:rgb(255, 240, 240);
  margin: 6px;
  transition: 0.4s;
  z-index:1;
  max-width: 18%;
  max-height: 28%;
  display: flex;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(#F8C7C7, #2B2A2A);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
  color: #f1f1f1;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
  color: rgb(247, 239, 239);
  display: block;
  transition: 0.3s;
  z-index: 2;
}

.sidenav a:hover {
  color: #f1f1f1;
  z-index: 2;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 2;
  color: whitesmoke;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.rectangle2 {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 180px;
  background: linear-gradient(#F8C7C7, #2B2A2A);
  top:0;
  left: 0;
  float: left;
  opacity: 0.9;
}

.rectangle1 {
  position: fixed;
  float:left;
  z-index: 3;
  height: 100%;
  width: 120px;
  background: linear-gradient(#F8C7C7, #2B2A2A);
  top:0;
  right:0;
  opacity:0.9;
}

@media screen and (max-width: 800px) {
  .rectangle1 {
    display: none;
  }
}


.container {
  cursor: pointer;
  position: fixed;
  top:30px;
  right:0;
  left:50px;
  margin: 5px;
  z-index:2;
  float:right;
}

.text-footer {
  top:85%;
  left:30px;
  z-index:4;
  position: fixed;
  float: bottom;
  margin: 10px;
  font-family:"Arimo";
  font-weight: bolder;
  line-height: 2;
  letter-spacing: 1px
}



h1 {
  text-indent:150px;
  font-family: "Literata";
  font-size: 60px;
  font-size:6vw;
}
h2 {
  z-index: 2;
  font-family: "Comfortaa";
  font-size: 80px;
  color: rgb(255, 242, 242);
  line-height: 280px;
  text-shadow: 1px 1px 4px #534f4f;
  font-size:6vw;
  text-align: center;
}

h3 {
text-align: center;
z-index: 2;
font-family: "Comfortaa";
font-size: 40px;
text-shadow: 1px 1px 4px #534f4f;
font-size:3vw;
color: black;

}
h4 {
  text-align: left;
  z-index: 2;
  font-family: "Literata";
  font-size: 30px;
  font-size:3vw;
  color: rgb(43, 40, 40);
  margin:0;
  z-index:4;

}
p {
  font-size:1.3vw;
  font-family:"Georgia";
  z-index:3;
  position: relative;
  font-size:1.3vw;
}

a {
   color:rgb(6, 31, 49);
   text-decoration: none;
   font-size:1.3vw;
}

a:hover {
   color: rgb(235, 250, 255);
}
.eng {
  background:rgb(114, 4, 19);
  color: rgb(255, 255, 255); 
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  z-index:3;
  position: fixed;
  top:5%;
  left:92%;
  height: 30px;
  width: 60px;
  max-width: 10%;
  max-height:5%;
  border:none;
}

.button1 { 
  background:transparent;
  color: rgb(255, 255, 255); 
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 100%;
  border: 1px solid rgb(255, 255, 255); 
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  position:absolute;
  z-index:3;
  top:45%;
  left:30%;
  height: 30px;
  width: 140px;
  max-width: 10%;
  max-height:5%;
}
.button2 { 
  background:transparent;
  color: rgb(255, 255, 255); 
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 100%;
  border: 1px solid rgb(255, 255, 255); 
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  z-index:3;
  position: absolute;
  top:45%;
  left:45%;
  height: 30px;
  width: 140px;
  max-width: 10%;
  max-height:5%;
}
a:link {
  color: rgb(201, 86, 105);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(201, 86, 105);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(66, 7, 7);
  background-color: transparent;
}
a:active {
  color: rgb(168, 29, 71);
  background-color: transparent;
}


#map-container {
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index:4;
}

.main {
  width: 100%;
  height:100%;
  background-repeat: no-repeat; 
  max-width: 100%;
  height: auto;
  margin-left:180px;
  margin-top:0;
  position: relative;
}

#section1 {
  background-image: url("bible1.png");
  height: 100%;
  background-size: cover;
}
#section2 {
  height: 400px;
}

#section3 {
  height: 400px;
}

#section4 {
  height: 500px;
  background-image: url("apple.png");
  opacity: 0.6;
  background-size: cover;
  position: relative;
}

/* Float four columns side by side */
.column {
  width: 30%;
  padding: 0 10px;
  right:60px;
  margin-bottom: 20px;
  display: inline-block;
}

/* Remove extra left and right margins, due to padding */
.row {
    /* margin: 0 -5px; */
    margin-left: 190px;
    height: auto;
    width:auto;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/*FOOTER*/
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column_f {
  float: left;
  width: 50%;
  padding: 0;
}

/* Clear floats after the columns */
.row_f:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column_f {
    width: 100%;
  }
}

.footer {
  background: rgb(255, 241, 241);
  height: auto;
  width: 100%;
  z-index:4;
  margin-bottom:0;
  padding: 15px;
  left:0;
  margin-left: 180px;
}

img.fac, img.inst {
  max-width: 3%;
  max-height: 3%;
  z-index: 2;

}

.donate_button {
  margin-left:500px;
}

.text_donation {
  bottom: 20px;
  right: 20px;
  left:20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 75%;
}

.text_title {
  color: white;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 200px;
  width: 75%;
  font-size:1em;
}